.contacts {
  margin: 40px auto;
  width: 320px;
}

.contacts__title {
  @include font-options(18px, 30px, 700, #000000, none);
  margin: 5px 0;
  padding: 16px 0 10px 0;
}

.contacts__email {
  @include font-options(15px, 30px, 400, rgb(68, 68, 68), none);
  margin: 16px 0 30px 0;
  display: flex;
  justify-content: flex-start;
  width: 260px;
}

.contacts__address {
  @include font-options(15px, 30px, 400, rgb(68, 68, 68), none);
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: flex-start;
  width: 260px;
}

.contacts__address-field,
.contacts__email-field {
  margin-right: 4px;
}

.contacts__address-value,
.contacts__email-value {
  margin-left: 26px;
}

.contacts__email-link {
  @include font-options(15px, 30px, 400, rgb(68, 68, 68), none);
  text-decoration: underline;
  text-decoration-color: $tiffany-color;

  &:hover,
  &:focus {
    color: rgba(70, 193, 174, 1);
    text-decoration-color: rgba(70, 193, 174, 1);
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    text-decoration-color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__info {
  margin: 0 30px;
  width: 260px;
}

.contacts__map {
  padding: 10px 0 40px 0;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 67px;
    height: 100px;
    top: 154px;
    left: 139px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.contacts__map-interactive {
  width: 100%;
  height: 455px;
  position: absolute;
  z-index: 1;
  border: none;
}

.contacts__write-us {
  @include font-options(18px, 20px, 700, #000000, none);
  display: block;
  box-sizing: border-box;
  margin: 0 auto 40px auto;
  padding: 15px 30px;
  border: 2px solid rgb(68, 68, 68);
  text-decoration: none;
  text-align: center;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    margin-top: 114px;
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 50px;
  }

  .contacts__title {
    @include font-options(43px, 50px, 700, #000000, none);
    flex-basis: 100%;
    margin-left: -4px;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      top: 0;
      right: 0;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }

  .contacts__email,
  .contacts__address {
    @include font-options(17px, 30px, 400, rgb(68, 68, 68), none);
    width: 334px;
    margin: 34px 0;
  }

  .contacts__address-field,
  .contacts__email-field {
    margin-right: 26px;
  }

  .contacts__address-value,
  .contacts__email-value {
    margin-left: 0;
  }

  .contacts__email-link {
    @include font-options(17px, 30px, 400, rgb(68, 68, 68), none);
  }

  .contacts__write-us {
    width: 230px;
    margin: 30px auto 56px auto;
  }

  .contacts__map {
    width: 100%;
    padding: 24px 0;

    &::before {
      top: 162px;
      left: 364px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 875px;
    height: 457px;
    margin: 158px auto 104px auto;
    padding-left: 175px;
  }

  .contacts__title {
    @include font-options(53px, 57px, 700, #000000, none);
    flex-basis: 100%;
    padding-top: 60px;
    margin-top: 10px;

    &::before {
      top: 52px;
      left: -108px;
    }
  }

  .contacts__info {
    display: block;
    width: 350px;
    margin: 0;
  }

  .contacts__address {
    margin-bottom: 0;
  }

  .contacts__map {
    width: 525px;
    margin: 0;
    padding: 0;
    order: 1;

    &::before {
      top: 144px;
      left: 238px;
    }
  }

  .contacts__write-us {
    width: 230px;
    margin: 60px 0 0 0;
  }
}
