.form-order {
  margin: 0 auto;
}

.form-order__title {
  @include font-options(17px, 16px, 700, $tiffany-color, none);
  margin: 20px 30px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 62px;
      width: 198px;
      height: 1px;
      background: $tiffany-color;
    }
  }
}

.form-order__wrapper {
  padding-top: 13px;
  padding-bottom: 15px;
  margin-bottom: 1px;
}

.form-order__type,
.form-order__color,
.form-order__name,
.form-order__surname,
.form-order__middle-name,
.form-order__phone,
.form-order__email,
.form-order__additionally {
  @include font-options(17px, 18px, 700, #000000, none);
  margin: 20px 30px;
}

.form-order__color,
.form-order__type {
  margin-top: 20px;
  margin-bottom: 26px;
  padding-left: 60px;
}

.form-order__color {
  margin-top: 24px;
  margin-bottom: 0;
  padding-bottom: 19px;

  &:last-child {
    margin-bottom: 9px;
  }
}

.form-order__middle-name {
  margin-bottom: 16px;
}

.form-order__phone {
  position: relative;
  margin-top: 0;
  margin-bottom: 28px;
}

.form-order__email {
  position: relative;
  margin-top: 6px;
  margin-bottom: 32px;
}

.form-order__name {
  margin: 12px 30px 25px 30px;
}

.form-order__additionally {
  margin: 14px 30px 4px 30px;
}

.form-order__item--type,
.form-order__item--color {
  opacity: 0;
  margin-left: -15px;
}

.form-order__color label {
  position: relative;
}

.form-order__item--color + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: -62px;
  top: -8px;
  width: 40px;
  height: 39px;
  border: 2px solid #000000;
}

.form-order__item--color:not(:checked) + label::before {
  background: none;
}

.form-order__item--color:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px 16px;
}

.form-order__item--color:focus + label {
  outline: 1px solid rgb(144, 186, 254);
}

.form-order__item--color:focus + label::before {
  border: 2px solid $tiffany-color;
}

.form-order__item--color:active + label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form-order__type label {
  position: relative;
}

.form-order__item--type + label::before {
  content: "";
  position: absolute;
  padding: 10px;
  left: -63px;
  top: -6px;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.form-order__item--type:not(:checked) + label::before {
  background: none;
}

.form-order__item--type:checked + label::before {
  background-clip: content-box;
  background-color: $tiffany-color;
}

.form-order__item--type:focus + label {
  outline: 1px solid rgb(144, 186, 254);
}

.form-order__item--type:focus + label::before {
  border: 2px solid $tiffany-color;
}

.form-order__item--type:active + label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form-order__item {
  @include font-options(17px, 18px, 400, #000000, none);
  box-sizing: border-box;
  padding: 16px 0;
  width: 260px;
  border: 0;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus {
    border-color: $tiffany-color;
  }

  &:active {
    border-color: $tiffany-color;
  }
}

.form-order__item--phone,
.form-order__item--email {
  padding-right: 40px;
}

.form-order__icon-phone,
.form-order__icon-mail {
  position: absolute;
  right: 6px;
  top: 14px;
  opacity: 0.2;
}

.form-order__icon-mail {
  right: 4px;
  top: 10px;
}

.form-order__item--phone {
  @include font-options(19px, 18px, 400, #000000, none);

  &:hover,
  &:focus,
  &:active {
    & + .form-order__icon-phone {
      opacity: 1;
      fill: $tiffany-color;
    }
  }
}

.form-order__item--email {
  &:hover,
  &:focus,
  &:active {
    & + .form-order__icon-mail {
      opacity: 1;
      fill: $tiffany-color;
    }
  }
}

.form-order__item--additionally {
  box-sizing: border-box;
  width: 260px;
  min-height: 142px;
  margin: 10px auto 10px auto;
  padding: 13px;
  border: 2px solid #000000;
  resize: none;
}

.form-order__required-fields {
  @include font-options(14px, 16px, 400, rgb(68, 68, 68), none);
  width: 260px;
  margin: 0 auto;
}

.form-order__send {
  @include font-options(17px, 16px, 700, rgb(68, 68, 68), none);
  width: 260px;
  margin: 30px auto 55px auto;
  padding: 15px 30px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .form-order__item--type + label::before {
    padding: 14px;
    left: -80px;
    top: -11px;
    width: 20px;
    height: 20px;
  }

  .form-order__item--color + label::before {
    left: -80px;
    top: -11px;
    width: 54px;
    height: 52px;
  }

  .form-order__item--color:checked + label::before {
    background-size: 33px 22px;
  }

  .form-order__type,
  .form-order__color {
    padding-left: 78px;
    padding-bottom: 18px;
  }

  .form-order__title {
    display: block;
    box-sizing: border-box;
    width: 167px;
    margin: 34px 0 60px 0;
  }

  .form-order__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 32px 50px 12px 50px;
    margin: 0 auto;
    margin-top: 6px;
  }

  .form-order__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-order__wrapper,
  .form-order__phone,
  .form-order__email {
    width: 501px;
  }

  .form-order__type,
  .form-order__color,
  .form-order__name,
  .form-order__surname,
  .form-order__middle-name,
  .form-order__phone,
  .form-order__email,
  .form-order__additionally {
    @include font-options(19px, 18px, 700, #000000, none);
    margin: 20px 0;
  }

  .form-order__item {
    padding: 7px 0 12px 0;
    font-size: 19px;
    line-height: 18px;
    width: 380px;
    margin-left: 0;
  }

  .form-order__item--additionally {
    width: 500px;
    padding: 12px;
  }

  .form-order__name,
  .form-order__surname,
  .form-order__middle-name {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 8px 0 21px 0;

    & label {
      padding-top: 10px;
    }

    .form-order__item {
      width: 374px;
      padding-left: 16px;
    }
  }

  .form-order__phone,
  .form-order__email {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 8px 0 1px 0;

    & label {
      padding-top: 10px;
    }

    .form-order__item {
      width: 500px;
      padding-left: 16px;
    }
  }

  .form-order__item--email {
    padding-top: 24px;
    padding-bottom: 14px;
    margin-bottom: 38px;
  }

  .form-order__title--phone {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .form-order__title--email {
    margin-top: 38px;
    margin-bottom: 22px;
  }

  .form-order__name {
    .form-order__item {
      width: 426px;
    }
  }

  .form-order__item--phone,
  .form-order__item--email {
    background-color: $bg-grey-color;
    padding-right: 70px;
  }

  .form-order__icon-phone {
    right: 26px;
    top: 14px;
  }

  .form-order__icon-mail {
    right: 22px;
    top: 24px;
  }

  .form-order__type {
    width: 501px;
  }

  .form-order__group--type {
    margin-bottom: 6px;
  }

  .form-order__group--contacts {
    padding: 40px 0 10px 0;
  }

  .form-order__color {
    width: 160px;
  }

  .form-order__title--additionally {
    margin: 0 auto;
    padding-top: 30px;
  }

  .form-order__additionally {
    margin: 4px 0 8px 0;
  }

  .form-order__required-fields {
    @include font-options(17px, 30px, 400, rgb(68, 68, 68), none);
    display: block;
    width: 315px;
    margin: 30px 0 20px auto;
    padding-top: 10px;
    text-align: right;
    order: 1;
  }

  .form-order__send {
    width: 230px;
    margin: 30px auto 40px 0;
  }

  .form-order__group--color,
  .form-order__group--contacts {
    background-color: $bg-grey-color;
  }
}

@media (min-width: $desktop-width) {
  .form-order__title {
    width: 175px;
    padding-left: 65px;
  }

  .form-order__group {
    padding: 50px;
  }

  .form-order__group--type {
    padding: 34px 50px 10px 50px;
  }

  .form-order__group--color {
    padding: 30px 50px 10px 50px;
  }

  .form-order__group--name {
    padding: 34px 50px 10px 50px;
  }

  .form-order__phone,
  .form-order__email {
    width: 700px;
    margin-right: auto;
    flex-basis: 80%;

    .form-order__item {
      width: 700px;
    }
  }

  .form-order__item--phone,
  .form-order__item--email {
    padding-right: 50px;
  }

  .form-order__icon-phone {
    right: 148px;
    top: 14px;
  }

  .form-order__icon-mail {
    right: 144px;
    top: 24px;
  }

  .form-order__wrapper {
    width: 765px;
    padding-right: 110px;
  }

  .form-order__name,
  .form-order__surname,
  .form-order__middle-name,
  .form-order__additionally {
    box-sizing: border-box;
    width: 765px;
    padding-right: 64px;
  }

  .form-order__additionally {
    margin-right: 110px;
  }

  .form-order__name,
  .form-order__surname,
  .form-order__middle-name {
    .form-order__item {
      width: 573px;
    }
  }

  .form-order__name {
    .form-order__item {
      width: 626px;
    }
  }

  .form-order__contacts-wrapper {
    padding: 37px 50px 10px 50px;
  }

  .form-order__group--contacts {
    padding: 7px 0 0 0;
  }

  .form-order__group--additionally {
    padding: 30px 50px 10px 50px;
  }

  .form-order__title--additionally {
    width: 50px;
    padding-left: 6px;
    margin-left: 60px;
  }

  .form-order__item--additionally {
    width: 700px;
    padding: 14px;
  }

  .form-order__send {
    margin: 28px auto 38px 174px;
  }

  .form-order__required-fields {
    margin: 20px auto 20px auto;
    padding-right: 94px;
    padding-top: 20px;
  }
}
