.page-header {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  position: relative;
  z-index: 2;
}

.page-header__toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .page-header__toggle {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
  }
}
