.page-footer {
  background-color: $bg-grey-color;
  margin: 0;
  width: 100%;
}

/*.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/

.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 200px;
}

.page-footer__copyright {
  width: 200px;
  padding: 21px 37px;
}

.page-footer__logo-link {
  text-decoration: none;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
    width: 120px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    //width: 768px;
  }
}

/*@media (min-width: $desktop-width) {

}*/
