.product-week {
  margin: 0 auto;
  padding: 0 30px;
  width: 260px;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: "";
    height: 6px;
    width: 320px;
    bottom: -43px;
    left: 0;
    background: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
  }
}

.product-week__block-title {
  margin: 29px 5px 0 0;
}

.product-week__name {
  @include font-options(25px, 30px, 700, #000000, none);
  margin: 0;
}

.product-week__title {
  @include font-options(17px, 20px, 700, $tiffany-color, none);
  margin: 4px 10px 0 0;
}

.product-week__description {
  @include font-options(15px, 24px, 400, #000000, none);
  margin: 24px 0 0 0;
  width: 260px;
}

.product-week__list {
  @include font-options(15px, 20px, 400, #000000, none);
  margin: 16px 0 26px 0;
  width: 260px;
}

.product-week__field {
  padding: 9px 0 9px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.product-week__value {
  padding: 9px 0 9px 13px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.product-week__price {
  @include font-options(17px, 24px, 700, #000000, none);
  text-align: center;
  margin: 25px 0;
}

.product-week__order {
  background: 0;
  padding: 15px 0;
  width: 259px;
}

@media (min-width: $tablet-width) {
  .product-week {
    width: 668px;
    padding: 0 50px;

    &::after {
      height: 17px;
      width: 768px;
      bottom: -64px;
    }
  }

  .product-week__block-title {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 668px;
    margin: 44px 0 56px 0;
  }

  .product-week__title {
    @include font-options(17px, 17px, 700, $tiffany-color, none);
    width: 75px;
    text-align: center;
    margin: 10px 24px 0 0;
  }

  .product-week__name {
    @include font-options(43px, 50px, 700, #000000, none);
    margin-left: -2px;
  }

  .product-week__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 410px;
  }

  .product-week__list {
    width: 291px;
  }

  .product-week__description {
    @include font-options(17px, 30px, 400, #000000, none);
    width: 291px;
    padding: 0 43px 10px 0;
    margin-top: -6px;
  }

  .product-week__value {
    padding-left: 0;
  }

  .product-week__field {
    width: 94px;
  }

  .product-week__price {
    @include font-options(20px, 24px, 700, #000000, none);
    text-align: left;
    padding-left: 71px;
    margin-top: 16px;
  }

  .product-week__order {
    width: 288px;
    margin-bottom: 4px;
  }

  .product-week__photo {
    width: 334px;
    height: 404px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    margin: 130px auto 150px auto;
    width: 1050px;
    padding: 0 50px;

    &::after {
      height: 23px;
      width: 1050px;
      left: 50px;
      bottom: -90px;
    }
  }

  .product-week__block-title {
    width: 652px;
    padding-left: 45px;
  }

  .product-week__title {
    margin: 14px 24px 0 0;
    order: -1;
  }

  .product-week__name {
    @include font-options(53px, 57px, 700, #000000, none);
  }

  .product-week__info {
    width: 525px;
    min-height: 640px;
    margin-top: -164px;
    position: relative;
    z-index: 1;
  }

  .product-week__description {
    margin: 0;
    padding: 158px 65px 0 175px;
    width: 285px;
  }

  .product-week__list {
    margin: 10px 0 26px 0;
  }

  .product-week__list,
  .product-week__order {
    margin-left: 175px;
  }

  .product-week__field,
  .product-week__value {
    padding: 9px 0 11px 0;
  }

  .product-week__price {
    width: 290px;
    text-align: center;
    margin: 0;
    margin-left: 175px;
    margin-top: 46px;
    padding: 0;
  }

  .product-week__photo {
    width: 525px;
    min-height: 636px;
  }

  .product-week__order {
    width: 292px;
  }
}
