.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__link {
  @include font-options(17px, 24px, 700, #000000, none);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-grey-color;
  }

  &:active {
    color: $light-grey-color;
  }
}

.site-list__item,
.site-list__item--search,
.site-list__item--basket {
  padding: 29px 45px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
