.site-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.site-list__link {
  @include font-options(17px, 24px, 700, #000000, none);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-grey-color;
  }

  &:active {
    color: $light-grey-color;
  }
}

.site-list__link--delivery {
  @include font-options(15px, 24px, 400, #000000, none);
}

.site-list__link-logo {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list {
    position: relative;
    width: 320px;
  }

  .site-list__item {
    box-sizing: border-box;
    padding: 26px 0 28px 75px;
    padding-left: 75px;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  .site-list__item-logo {
    box-sizing: border-box;
    padding-top: 22px;
    padding-left: 116px;
    padding-bottom: 22px;
  }

  .site-list__logo {
    width: 86px;
    height: 35px;
  }

  .site-list__item--new,
  .site-list__item--sale,
  .site-list__item--delivery {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
    width: 668px;
  }

  .site-list__logo {
    width: 113px;
    height: 46px;
  }

  .site-list__item {
    width: 167px;
  }

  .site-list__item-logo {
    padding: 22px 0 14px 0;
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: none;
  }

  .site-list__item--catalog,
  .site-list__item--knitting,
  .site-list__item--delivery {
    order: 1;
    padding: 17px 0;
  }

  .site-list__item--basket {
    box-sizing: border-box;
    width: 265px;
    padding: 31px 0 34px 0;
    border-left: 1px solid rgb(236, 236, 236);
    text-align: right;
  }

  .site-list__search-text {
    display: none;
  }

  .site-list__item--search {
    box-sizing: border-box;
    width: 83px;
    border-left: 1px solid rgb(236, 236, 236);
    margin-left: auto;
  }

  .site-list__item--delivery {
    width: 240px;
    margin-left: auto;
    text-align: right;
  }

  .site-list__link--catalog,
  .site-list__link--knitting {
    @include font-options(15px, 24px, 700, #000000, none);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin: 0 50px;
    width: 1050px;
  }

  .site-list__item-logo {
    padding: 9px 0 2px 40px;
  }

  .site-list__logo {
    width: 149px;
    height: 72px;
  }

  .site-list__item--catalog,
  .site-list__item--knitting {
    padding: 31px 0 34px 0;
    order: 0;
  }

  .site-list__item-logo,
  .site-list__item--search,
  .site-list__item--basket {
    order: 1;
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: block;
    width: 175px;
    padding: 17px 0;
    order: 2;
  }

  .site-list__item--sale {
    padding-left: 44px;
  }

  .site-list__item--knitting {
    width: 226px;
    border-left: 1px solid rgb(236, 236, 236);
    padding-left: 16px;
    text-align: center;
  }

  .site-list__item--basket {
    width: 267px;
  }

  .site-list__item--delivery {
    order: 3;
  }

  .site-list__link--new,
  .site-list__link--sale {
    @include font-options(15px, 24px, 700, #000000, none);
  }

  .site-list__link--catalog,
  .site-list__link--knitting {
    @include font-options(17px, 24px, 700, #000000, none);
  }
}
