.site-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.site-list__link {
  @include font-options(17px, 24px, 700, #000000, none);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-grey-color;
  }

  &:active {
    color: $light-grey-color;
  }
}

.site-list__link--delivery {
  @include font-options(15px, 24px, 400, #000000, none);
}

@media (max-width: $mobile-width-only) {
  .site-list {
    position: relative;
    width: 320px;
  }

  .site-list__item {
    padding: 29px 0;
    padding-left: 75px;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  .site-list__item--new,
  .site-list__item--sale,
  .site-list__item--delivery {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
    width: 668px;
  }

  .site-list__item {
    width: 167px;
    padding: 35px 0;
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: none;
  }

  .site-list__item--catalog,
  .site-list__item--knitting,
  .site-list__item--delivery {
    order: 1;
  }

  .site-list__item--basket {
    width: 265px;
    border-left: 1px solid rgb(236, 236, 236);
    text-align: right;
  }

  .site-list__item--search {
    //width: 82px; Раскомментарить после замещения на картинку
    border-left: 1px solid rgb(236, 236, 236);
    margin-left: auto;
  }

  .site-list__item-logo {
    width: 167px;
    padding: 30px 0;
  }

  .site-list__item--delivery {
    width: 240px;
    margin-left: auto;
    text-align: right;
  }

  .site-list__link--catalog,
  .site-list__link--knitting {
    @include font-options(15px, 24px, 700, #000000, none);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin: 0 50px;
    width: 1050px;
  }

  .site-list__item--catalog,
  .site-list__item--knitting {
    order: 0;
  }

  .site-list__item-logo,
  .site-list__item--search,
  .site-list__item--basket {
    order: 1;
  }

  .site-list__item--new,
  .site-list__item--sale {
    display: block;
    width: 175px;
    order: 2;
  }

  .site-list__item--knitting {
    width: 226px;
    border-left: 1px solid rgb(236, 236, 236);
    text-align: center;
  }

  .site-list__item--delivery {
    order: 3;
  }

  .site-list__link--new,
  .site-list__link--sale {
    @include font-options(15px, 24px, 700, #000000, none);
  }

  .site-list__link--catalog,
  .site-list__link--knitting {
    @include font-options(17px, 24px, 700, #000000, none);
  }
}
