.social {
  margin: 26px auto 44px auto;
  padding-top: 24px;
}

.social__list {
  list-style: none;
  width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;

}

.social__link {
  text-decoration: none;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    padding: 0;
    padding-top: 9px;
    margin-left: 58px;
    //margin-bottom: 40px;

  }
}
