$tiffany-color: rgba(99, 209, 187, 1);/*#63d1bb*/
$light-tiffany-color: rgba(99, 209, 187, 0.3);
$bg-grey-color: rgb(241, 241, 241);
$dark-grey-color: rgba(0, 0, 0, 0.6);
$light-grey-color: rgba(0, 0, 0, 0.3);
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
  //max-width: 1250px;
  padding: 0;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin font-options ($font-size: 17px, $line-height: 24px, $font-weight: 700, $color: #000000, $text-transform: none) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
  text-transform: $text-transform;
}

@mixin margins {
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 100px;
    margin-right: 100px;
  }
}
